-
  var pages = [
    {path: "/", title: "Accueil", icon: "home", id: "home"},
    {path: "/dashboard", title:"Tableau de bord", icon: "dashboard", id: "dashboard"},
    {path: "/question", title:"Ajouter une question", icon: "plus", id: "question"},
    {path: "/instructions", title:"Instructions", icon: "help", id: "instructions"}
  ]

header.navbar.elevation--4dp
  h1.title.large-screen
    span Web
    span.logo
    span uiz
  h1.title.small-screen
    span.logo
  nav
    ul
      each page in pages
        if page.id == id
          li.navbar-button.active
            a(routerLink=page.path)
              i.material-icons.small-screen= page.icon
              span.large-screen= page.title
        else
          li.navbar-button
            a(routerLink=page.path)
              i.material-icons.small-screen= page.icon
              span.large-screen= page.title
