extends ../index.pug

prepend title
  - var pageTitle = "Quick test - question " + questionNumber

block content
  main.min-page-height
    h1.page-header= firstHeader
    section.elevation--2dp.sheet
      h1= question
      span.top-right= domain
      form(method="get" action=next)
        // Cette balise servira plus tard pour le CSS
        div.center
            each answer in answers
              div
                input(type='checkbox' name=answer)
                label(for=answer)= answer
        ul.action-group
          li
              a(href='/dashboard')
                i.material-icons dashboard
                span.large-screen Retourner au tableau de bord
          li
              a(href=next)
                span.large-screen Page suivante
                i.material-icons navigate_next
    aside
      h1 Score courant
      p 20/20
