extends ../index.pug

prepend title
  - var pageTitle = "Quick test - question " + questionNumber

block content
  h1 Quick test - question #{questionNumber}
  form(method="get" action=next)
    p I have a question ?
    span= domain
    //- FIXME: les divs sont-ils utile dans le cadre de ce tp ? Dans ce cas la les
    //- sections sont-elles utiles ?
    div
      each name in ['answer1', 'answer2', 'answer3']
        input(type='checkbox' name=name)
        label(for=name)= name
    ul
      li
        input(type='submit' formaction='/dashboard' value='Back to dashboard')
      li
        input(type='submit' value='Next page')
  section
    h1 Your score
    p 20/20
