extends ../index.pug

prepend title
  - var pageTitle = "Quick test - question " + questionNumber

block content
  main
    h1= firstHeader
    section
      h1= question
      span= domain
      form(method="get" action=next)
        // Cette balise servira plus tard pour le CSS
        div
          each answer in answers
            input(type='checkbox' name=answer)
            label(for=answer)= answer
        ul
          li
            input(type='submit' formaction='/dashboard' value='Retourner au tableau de bord')
          li
            input(type='submit' value='Page suivante')
    aside
      h1 Score courant
      p 20/20
